* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: hsl(240, 41%, 93%);
  background-image: url("./images/bg-bottom.svg"), url("./images/bg-top.svg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: left bottom, right top;
  display: flex;
  justify-content: center;
  background-size: 31rem;
}

.container {
  margin-top: 3rem;
}

.planDetails {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.planDetails li {
  text-align: center;
  margin-top: 0.6rem;
}

.title {
  text-align: center;
  color: rgb(103, 99, 99);
  font-size: 1.25rem;
}
.plans {
  display: flex;
  margin-top: 2.5rem;
}
.one {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 1.9rem 2rem;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  color: rgb(109, 107, 107);
  align-self: center;
}
.two {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding: 3.2rem 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  color: white;
}
.three {
  display: flex;
  flex-direction: column;
  padding: 1.9rem 2rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  color: rgb(109, 107, 107);
  align-self: center;
}
p {
  margin-top: 0.9rem;
  text-align: center;
}
.typeOfPlan {
  margin-bottom: 1.25rem;
}
main {
  padding-top: 1.25rem;
}
hr {
  margin-top: 1rem;
  width: 11.9rem;
}
h1 {
  font-size: 2.2rem;
  text-align: center;
  color: rgb(43, 40, 40);
}
.child.two h1 {
  color: white;
}
button {
  width: 80%;
  border-radius: 0.6rem;
  font-weight: bold;
  margin-top: 1.9rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
.btnprimary {
  background-color: hsl(236, 82%, 78%);
  color: white;
}
.btnsecondary {
  background-color: white;
  color: hsl(236, 82%, 78%);
}
.btnprimary:hover {
  background-color: white;
  color: hsl(236, 82%, 78%);
  border: 2px solid hsl(236, 82%, 78%);
}
.btnsecondary:hover {
  background-color: hsl(236, 82%, 78%);
  color: white;
  border: 2px solid white;
}
#checkbox {
  visibility: hidden;
}
.toggle-btn {
  margin-top: 1.9rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.annually {
  margin-top: 0.3rem;
  color: rgb(157, 153, 153);
}
.monthly {
  padding-left: 0.625rem;
  margin-top: 0.3rem;
  color: rgb(157, 153, 153);
}
.toggle-lable {
  padding: 0.95rem 1.9rem;
  background: hsl(236, 72%, 78%);
  display: inline-block;
  position: relative;
  border-radius: 2.5rem;
  cursor: pointer;
}
.toggle-ball {
  padding: 0.8rem 0.75rem;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 0.15rem;
  left: 0.14rem;
  cursor: pointer;
  transition: 0.2s;
}

#checkbox:checked + .toggle-lable .toggle-ball {
  transform: translate(1.9rem);
  transition: 0.2s;
}
@media (max-width: 768px) {
  .plans {
    flex-direction: column;
    align-items: center;
  }
  .toggle-btn {
    justify-content: center;
  }
  .one,
  .two,
  .three {
    margin: 0.625rem;
  }
}
